.hero {
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)),
    url("https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=2070&auto=format&fit=crop")
      center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 850px;
}

.hero-content h3 {
  color: #00aeef;
  letter-spacing: 4px;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.hero-content h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0 0 25px rgba(0, 174, 239, 0.7);
  min-height: 100px;
}

.hero-content p {
  color: #d6d6d6;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-buttons button {
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.4s;
}

.service-btn {
  background: linear-gradient(135deg, #00aeef, #c0c0c0);
  color: black;
}

.contact-btn {
  background: transparent;
  border: 2px solid #00aeef !important;
  color: white;
}

.hero-buttons button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 20px rgba(0, 174, 239, 0.5);
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.8rem;
    min-height: 70px;
  }

  .hero-content h3 {
    font-size: 1.1rem;
  }

  .hero-content p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons button {
    width: 220px;
  }
}
