.services {
  width: 100%;
  padding: 100px 7%;

  background:
    linear-gradient(rgba(52, 51, 51, 0.5), rgba(25, 91, 121, 0.6)),
    url("https://static.vecteezy.com/system/resources/thumbnails/038/535/076/small/ai-generated-empty-dark-workspace-tabletop-modern-design-with-copy-space-and-decor-photo.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  text-align: center;

  position: relative;
}

.services h2 {
  font-size: 3rem;
  margin-bottom: 60px;
  color: #00aeef;
  text-shadow: 0 0 20px rgba(0, 174, 239, 0.5);
}

.service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 330px;

  padding: 40px 25px;
  border-radius: 20px;

  /* border: 2px solid rgba(0, 174, 239, 0.2); */

  transition: 0.4s;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  position: relative;
}

.service-card:hover {
  transform: translateY(-10px);
  border-color: #00aeef;
  box-shadow: 0 0 25px rgba(0, 174, 239, 0.5);
}

.service-icon {
  font-size: 3rem;
  color: #00aeef;
  margin-bottom: 25px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: white;
}

.service-card p {
  color: #d8d8d8;
  line-height: 1.7;
  font-size: 0.95rem;
}

/* TABLET */

@media (max-width: 992px) {
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .services {
    padding: 70px 20px;
    background-attachment: scroll;
  }

  .services h2 {
    font-size: 2.3rem;
  }

  .service-container {
    grid-template-columns: 1fr;
  }

  .service-card {
    min-height: 300px;
  }
}
